{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Utilisateurs connectés</h5>
                    <h3 id="connected-users" class="card-text text-center">{{ nbUsers }}</h3>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Nouveaux utilisateurs</h5>
                    <h3 id="new-users" class="card-text text-center">{{  nbNewUsers }}</h3>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Nombre de commande</h5>
                    {% include 'homepage/_number_orders.html.twig' with { 'nbOrders': nbOrders, 'nbOrdersPreviousWeek': nbOrdersPreviousWeek } only %}
                </div>
            </div>
        </div>

        <div class="col-9 mt-5">
            <div>
                <h2>Dernières commandes</h2>
                {% include 'homepage/_orders_list.html.twig'  with { 'orders': lastOrders } only %}
            </div>

            <div class="mt-3">
                <h2>Chiffre d'affaire</h2>
                <canvas class="my-4 w-100" id="myChart" width="900" height="200"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script>
        $(function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: ['Annuel', 'Mensuel', 'Hebdomadaire'],
                    datasets: [{
                        label: false,
                        data: [{{ ca.year }}, {{ ca.month }}, {{ ca.week }}],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function(value) {
                                    if (parseInt(value) >= 1000) {
                                        return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ' €';
                                    } else {
                                        return value + ' €';
                                    }
                                }
                            }
                        }]
                    },
                    scaleLabel:
                        function(label){return  '$' + label.value.toString();}
                }
            });

            setInterval(function() {
                $.ajax({
                    url: "{{ path('stats_ca') }}",
                    success: function(data) {
                        // add new label and data point to chart's underlying data structures
                        myChart.data.datasets[0].data = [data.year, data.month, data.week];

                        // // re-render the chart
                        myChart.update();
                    }
                });
            }, 10800000);//time in milliseconds

            setInterval(function() {
                $.ajax({
                    type: "get",
                    url: "{{ path('stats_user') }}",
                    datatype: "json",
                    success:function(data)
                    {
                        $("#connected-users").html(data.connected_users);
                        $("#new-users").html(data.new_users);
                    }
                });
            }, 10000);//time in milliseconds

            setInterval(function() {
                $.ajax({
                    type: "get",
                    url: "{{ path('stats_order') }}",
                    datatype: "html",
                    success:function(data)
                    {
                        $("#number-orders").replaceWith(data);
                    }
                });
            }, 10000);//time in milliseconds

            setInterval(function() {
                $.ajax({
                    type: "get",
                    url: "{{ path('stats_order_list') }}",
                    datatype: "html",
                    success:function(data)
                    {
                        $("#orders-list").replaceWith(data);
                    }
                });
            }, 10000);//time in milliseconds
        });
    </script>
{% endblock %}
